In [1]:
# importing the libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import operator
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

/Users/adityaarora/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [10]:
Columns = ["vendor_id","passenger_count","pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude","store_and_fwd_flag","day","month","hour","minute","second"]

In [3]:
def readData(FileName, is_test=False):
    df = pd.read_csv(FileName)
    return df

In [4]:
def processData(data):
    store_and_fwd_flag = LabelEncoder()
    store_and_fwd_flag.fit(['Y','N'])
    data["store_and_fwd_flag"] = store_and_fwd_flag.transform(data["store_and_fwd_flag"])
    #2016-06-30 23:59:58
    data["day"] = pd.to_datetime(data["pickup_datetime"]).map(lambda x: x.day)
    data["month"] = pd.to_datetime(data["pickup_datetime"]).map(lambda x: x.month)
    data["hour"] = pd.to_datetime(data["pickup_datetime"]).map(lambda x: x.hour)
    data["minute"] = pd.to_datetime(data["pickup_datetime"]).map(lambda x: x.minute)
    data["second"] = pd.to_datetime(data["pickup_datetime"]).map(lambda x: x.second)
    
    return data

In [5]:
def input_fn(data): 
    Continuous_cols = {k: tf.constant(data[k].values) for k in Columns}
    label = tf.constant(data['trip_duration'].values)
    return dict(Continuous_cols.items()),label

In [6]:
def test_fn(data):
    Continuous_cols = {k: tf.constant(data[k].values) for k in Columns}
    return Continuous_cols

In [12]:
def DNN(train_data, test_data):
    features = []
    for c in Columns:
        features.append(tf.contrib.layers.real_valued_column(str(c)))
   
    
    classifier = tf.contrib.learn.DNNClassifier(feature_columns=features,
                                                hidden_units =[10,20,20,10],
                                                n_classes=2)
    
    classifier.fit(input_fn=lambda: input_fn(train_data), steps=500)
    accuracy = classifier.evaluate(input_fn=lambda: input_fn(train_data), steps=10)

    
    return accuracy,list(classifier.predict(input_fn=lambda:test_fn(test_data)))

In [8]:
tf.set_random_seed(10)
test = readData("test.csv", True)
# print(test_data)
train = readData("train.csv", False)
processData(train)
processData(test)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,day,month,hour,minute,second
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,0,30,6,23,59,58
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,0,30,6,23,59,53
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,0,30,6,23,59,47
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,0,30,6,23,59,41
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,0,30,6,23,59,33
5,id0668992,1,2016-06-30 23:59:30,1,-73.991302,40.749798,-73.980515,40.786549,0,30,6,23,59,30
6,id1765014,1,2016-06-30 23:59:15,1,-73.978310,40.741550,-73.952072,40.717003,0,30,6,23,59,15
7,id0898117,1,2016-06-30 23:59:09,2,-74.012711,40.701527,-73.986481,40.719509,0,30,6,23,59,9
8,id3905224,2,2016-06-30 23:58:55,2,-73.992332,40.730511,-73.875618,40.875214,0,30,6,23,58,55
9,id1543102,2,2016-06-30 23:58:46,1,-73.993179,40.748760,-73.979309,40.761311,0,30,6,23,58,46
10,id3024712,1,2016-06-30 23:58:32,4,-73.968529,40.678432,-73.966591,40.635712,0,30,6,23,58,32
11,id3665810,2,2016-06-30 23:58:05,1,-73.982773,40.756908,-73.974693,40.753330,0,30,6,23,58,5
12,id1836461,1,2016-06-30 23:58:01,1,-73.921104,40.767292,-73.936859,40.774044,0,30,6,23,58,1
13,id3457080,2,2016-06-30 23:57:57,1,-73.986801,40.734917,-73.975899,40.756893,0,30,6,23,57,57
14,id3376065,1,2016-06-30 23:57:25,1,-73.996346,40.748161,-73.950829,40.782825,0,30,6,23,57,25
15,id3008739,1,2016-06-30 23:57:22,1,-73.968025,40.762283,-73.934792,40.797436,0,30,6,23,57,22
16,id0902216,2,2016-06-30 23:56:44,1,-74.007713,40.740681,-73.968811,40.753860,0,30,6,23,56,44
17,id3564824,2,2016-06-30 23:55:36,5,-73.984299,40.724983,-73.981819,40.740597,0,30,6,23,55,36
18,id0820280,2,2016-06-30 23:55:28,1,-73.952599,40.768322,-73.948555,40.773724,0,30,6,23,55,28
19,id0775088,2,2016-06-30 23:55:20,1,-73.966690,40.794090,-73.920776,40.830059,0,30,6,23,55,20
20,id1468488,2,2016-06-30 23:55:13,1,-73.994690,40.725819,-73.987160,40.729259,0,30,6,23,55,13
21,id2657479,1,2016-06-30 23:55:12,1,-73.965950,40.758068,-73.977524,40.742527,0,30,6,23,55,12
22,id1262719,2,2016-06-30 23:55:04,5,-73.986382,40.762001,-73.966148,40.762089,0,30,6,23,55,4
23,id1345524,2,2016-06-30 23:54:55,1,-73.955986,40.714069,-73.980682,40.675735,0,30,6,23,54,55
24,id2911638,1,2016-06-30 23:54:45,1,-73.984100,40.742760,-73.956001,40.784809,0,30,6,23,54,45
25,id2849512,2,2016-06-30 23:54:16,3,-73.872993,40.773979,-73.962440,40.774712,0,30,6,23,54,16
26,id0236829,1,2016-06-30 23:53:06,1,-73.967621,40.762856,-73.952301,40.782181,0,30,6,23,53,6
27,id2905906,1,2016-06-30 23:52:34,1,-73.985359,40.759548,-73.973267,40.763294,1,30,6,23,52,34
28,id3737939,1,2016-06-30 23:52:15,2,-73.987526,40.765511,-73.938713,40.849827,0,30,6,23,52,15
29,id0766179,2,2016-06-30 23:51:42,2,-73.985344,40.747356,-73.978378,40.675571,0,30,6,23,51,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625104,id0120169,1,2016-01-01 00:13:21,1,-73.968399,40.799793,-73.974541,40.787251,0,1,1,0,13,21
625105,id0386349,2,2016-01-01 00:11:38,5,-73.988403,40.737289,-73.992073,40.749142,0,1,1,0,11,38
625106,id1962532,2,2016-01-01 00:11:33,1,-74.005394,40.739971,-73.989204,40.723003,0,1,1,0,11,33
625107,id0335207,2,2016-01-01 00:11:10,2,-73.982239,40.771309,-73.963661,40.774353,0,1,1,0,11,10
625108,id0273508,2,2016-01-01 00:10:40,3,-74.006516,40.744549,-73.938103,40.792294,0,1,1,0,10,40
625109,id2936770,2,2016-01-01 00:10:15,1,-73.976822,40.751690,-73.955719,40.776470,0,1,1,0,10,15
625110,id0044526,2,2016-01-01 00:10:09,1,-73.976547,40.750626,-73.975777,40.745041,0,1,1,0,10,9
625111,id3605431,2,2016-01-01 00:10:02,1,-74.001259,40.747192,-73.978333,40.779781,0,1,1,0,10,2
625112,id2681896,1,2016-01-01 00:09:44,1,-73.998657,40.739952,-73.983231,40.734612,0,1,1,0,9,44
625113,id3308448,2,2016-01-01 00:09:40,5,-73.976784,40.774750,-73.973106,40.756870,0,1,1,0,9,40
625114,id2108525,1,2016-01-01 00:09:17,1,-73.976669,40.765736,-73.983246,40.749500,0,1,1,0,9,17
625115,id3952220,2,2016-01-01 00:08:38,1,-73.992180,40.759155,-73.958916,40.618134,0,1,1,0,8,38
625116,id2771348,1,2016-01-01 00:08:36,1,-73.976189,40.765678,-73.982147,40.744007,0,1,1,0,8,36
625117,id3065313,2,2016-01-01 00:08:30,1,-74.002258,40.745335,-73.995331,40.663185,0,1,1,0,8,30
625118,id2332834,2,2016-01-01 00:07:20,2,-73.999954,40.728645,-73.936699,40.750092,0,1,1,0,7,20
625119,id3495407,1,2016-01-01 00:07:13,2,-73.997025,40.720509,-73.998932,40.734013,0,1,1,0,7,13
625120,id3811106,2,2016-01-01 00:06:57,6,-73.990585,40.740227,-74.000893,40.729008,0,1,1,0,6,57
625121,id2693698,1,2016-01-01 00:06:00,1,-73.999481,40.748959,-74.008507,40.745422,0,1,1,0,6,0
625122,id2884571,2,2016-01-01 00:05:39,2,-74.000259,40.730247,-73.999969,40.741158,0,1,1,0,5,39
625123,id2790343,2,2016-01-01 00:05:14,1,-73.956131,40.778793,-74.001259,40.736439,0,1,1,0,5,14
625124,id1901191,1,2016-01-01 00:05:12,1,-73.988899,40.718777,-73.972511,40.743450,0,1,1,0,5,12
625125,id0664662,1,2016-01-01 00:05:02,1,-73.969040,40.790852,-73.967690,40.761066,0,1,1,0,5,2
625126,id2073829,1,2016-01-01 00:05:01,1,-74.002586,40.733627,-73.998955,40.744518,0,1,1,0,5,1
625127,id0328287,1,2016-01-01 00:03:38,2,-73.952110,40.777416,-73.958450,40.764320,0,1,1,0,3,38
625128,id1340822,1,2016-01-01 00:03:00,1,-73.973167,40.764042,-73.974464,40.757187,0,1,1,0,3,0
625129,id3008929,1,2016-01-01 00:02:52,1,-74.003464,40.725105,-74.001251,40.733643,0,1,1,0,2,52
625130,id3700764,1,2016-01-01 00:01:52,1,-74.006363,40.743782,-73.953407,40.782467,0,1,1,0,1,52
625131,id2568735,1,2016-01-01 00:01:24,2,-73.972267,40.759865,-73.876602,40.748665,0,1,1,0,1,24
625132,id1384355,1,2016-01-01 00:00:28,1,-73.976501,40.733562,-73.854263,40.891788,0,1,1,0,0,28
625133,id0621643,2,2016-01-01 00:00:22,2,-73.981850,40.716881,-73.969330,40.769379,0,1,1,0,0,22

In [13]:
# print(test_data)
accuracy, trip_duration = DNN(train, test)
print("\n\n\n")
for key in sorted(accuracy):
   print("%s: %s" % (key, accuracy[key]*100))

print("\n\n\n")
id = list(test['id'])
index = 0

indexes = test.index.values
with open("kaggle.csv", "w") as f:
    f.write("id,trip_duration\n")
    for index, prediction in zip(indexes, trip_duration):
        f.write("{0},{1}\n".format(index, prediction))

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2
INFO:tensorflow:Using config: {'_task_type': None, '_task_id': 0, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a1a36b6a0>, '_master': '', '_num_ps_replicas': 0, '_num_worker_replicas': 0, '_environment': 'local', '_is_chief': True, '_evaluation_master': '', '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1.0
}
, '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_session_config': None, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_model_dir': '/var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2'}
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2/model.ckpt.
INFO:tensorflow:loss = 6859.86, step = 1
INFO:tensorflow:global_step/sec: 1.27921
INFO:tensorflow:loss = -1.62856e+10, step = 101 (78.174 sec)
INFO:tensorflow:global_step/sec: 1.33741
INFO:tensorflow:loss = -1.05947e+11, step = 201 (74.771 sec)
INFO:tensorflow:global_step/sec: 1.32819
INFO:tensorflow:loss = -3.07356e+11, step = 301 (75.291 sec)
INFO:tensorflow:global_step/sec: 1.30399
INFO:tensorflow:loss = -6.48355e+11, step = 401 (76.687 sec)
INFO:tensorflow:Saving checkpoints for 500 into /var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2/model.ckpt.
INFO:tensorflow:Loss for final step: -1.14614e+12.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
INFO:tensorflow:Starting evaluation at 2017-12-29-18:47:31
INFO:tensorflow:Restoring parameters from /var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2/model.ckpt-500
INFO:tensorflow:Evaluation [1/10]
INFO:tensorflow:Evaluation [2/10]
INFO:tensorflow:Evaluation [3/10]
INFO:tensorflow:Evaluation [4/10]
INFO:tensorflow:Evaluation [5/10]
INFO:tensorflow:Evaluation [6/10]
INFO:tensorflow:Evaluation [7/10]
INFO:tensorflow:Evaluation [8/10]
INFO:tensorflow:Evaluation [9/10]
INFO:tensorflow:Evaluation [10/10]
INFO:tensorflow:Finished evaluation at 2017-12-29-18:49:56
INFO:tensorflow:Saving dict for global step 500: accuracy = 2.26238e-05, accuracy/baseline_label_mean = 959.492, accuracy/threshold_0.500000_mean = 2.26238e-05, auc = 0.0, auc_precision_recall = 1.0, global_step = 500, labels/actual_label_mean = 959.492, labels/prediction_mean = 1.0, loss = -1.15205e+12, precision/positive_threshold_0.500000_mean = 1.0, recall/positive_threshold_0.500000_mean = 1.0
WARNING:tensorflow:From /Users/adityaarora/anaconda3/lib/python3.6/site-packages/tensorflow/python/util/deprecation.py:381: calling DNNClassifier.predict (from tensorflow.contrib.learn.python.learn.estimators.dnn) with outputs=None is deprecated and will be removed after 2017-03-01.
Instructions for updating:
Please switch to predict_classes, or set `outputs` argument.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.

WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.
INFO:tensorflow:Restoring parameters from /var/folders/tx/6sm3gcjj1pj7y04lpbdycttm0000gn/T/tmpmcdghyv2/model.ckpt-500




accuracy: 0.00226237516472
accuracy/baseline_label_mean: 95949.2004395
accuracy/threshold_0.500000_mean: 0.00226237516472
auc: 0.0
auc_precision_recall: 100.0
global_step: 50000
labels/actual_label_mean: 95949.2004395
labels/prediction_mean: 100.0
loss: -1.15204947968e+14
precision/positive_threshold_0.500000_mean: 100.0
recall/positive_threshold_0.500000_mean: 100.0